#root {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
};

.titleBlock {
  margin: 1rem;
  padding: 1rem;
  background: lightgrey;
}

.title {
  font-size: 1.5rem;
}

.subTitle {
  font-size: 0.9rem;
}
